<h1>Pathfinder RPG<br>Random Encounter <br>Generator</h1>

<h3>About:</h3>

<p>One of the most time-consuming situations a Game Master can come across is building
  a quick scenario for players who have deviated from the path you might have set for them.
  Mastering a game by the seat of your pants can leave you flipping through books, looking
  for just the right stat blocks for a monster or encounter you need RIGHT now. But with this
  random encounter generator, you can get the options and stats you need, quickly, to
  provide a random encounter for any environment, any number of characters, or any party level. </p>

<h3>Acknowledgements:</h3>

<p>There are links to <%= link_to 'www.d20pfsrd.com', "http://www.d20pfsrd.com" %>
  in every encounter to provide more information on the creatures in the encounter.
  D20PFSRD is "a free System Reference Document site for the Pathfinder Roleplaying
  Game based on the Open Game Content d20 rules system."</p>

<p>The creature and stats content on this site is used under the <a href="/welcome/license"> Open Game License</a>.</p>

<p>Code &copy; 2016 by Patricia Bailey</p>

<p><a href="/welcome/index">Home</a></p>