<h1>This page is where we will see the encounter generated.</h1>
<p>I solemnly swear that I will be up to no good in no time.</p>

<!--saving this print link here for use when the generator is up and running-->
<p>To print your encounter click here:
  <a href="#" onclick="window.print();return false;">print me</a>
</p>