// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ #meow
@import url(/stylesheets/courier_prime/stylesheet.css);

$font-stack:    courier_prime, Courier, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  //background-color: #efefef;
  background-color: #c8d8f4;
  line-height: 1;
}

button {
  font: 120% $font-stack;
  color: $primary-color;
}

